

/* --- Global -------------------------------------------------------------------------------- */

pre {
	margin: 5px;
	overflow: auto;
}

hr {
	clear: both;
	height: 1px;
	border:0;
	border-bottom:1px solid #0d2746;
}

h1 {
	font-family: 'Ubuntu', Arial, Helvetica, Verdana;
	font-size: 24px;
	line-height: 1.9em;
	color: #0d2746;
	font-weight: normal;
}

h2, .textHead {
	font-family: 'Ubuntu', Arial, Helvetica, Verdana;
	font-size: 18px;
	line-height: 1.9em;
	color: #0d2746;
	font-weight: normal;
}

h3 {
	font-family: 'Ubuntu', Arial, Helvetica, Verdana;
	font-size: 15px;
	line-height: 1.9em;
	color: #0d2746;
	font-weight: normal;
}

h4, h5, h6 {
	font-family: 'Ubuntu', Arial, Helvetica, Verdana;
	font-size: 13px;
	line-height: 1.9em;
	color: #0d2746;
	font-weight: normal;
}

br {
	clear: both;
}

.textRed, .nok, .invalid {
	color: #c50707;
}

.textGreen, .ok, .valid {
	color: #07c519;
	
}

table {
	width: 98%;
}

table, td, th {
	margin: 10px 1%;
	padding: 7px;
}

td, th {
	border: 1px solid #0d2746;
}

th {
	background: #d1d1d1;
}

.tableInnerHead {
	border: 0;
}




/* --- Forms -------------------------------------------------------------------------------- */

textarea {
	font: normal 13px Arial, Helvetica, Verdana;
	padding: 5px;
	width: 100%;
	border: 1px dotted #0d2746;
}

input {
	font: normal 13px Arial, Helvetica, Verdana;
	padding: 5px;
	width: 50%;
	border: 1px dotted #0d2746;
}

select {
	font: normal 13px Arial, Helvetica, Verdana;
	padding: 5px;
	height: 28px;
	width: 50%;
	border: 1px dotted #0d2746;
	background: #ffffff;
}

option {
	margin: 1px 0;
	padding: 5px 0;
	background: #e8e8e8;
}

input[type=checkbox] {
	width: auto;
	border: 1px dotted #0d2746;
	background: #ffffff;
}

input[type=radio] {
	width: auto;
	border: 1px dotted #0d2746;
	background: #ffffff;
}

input[type=submit], input[type=reset] {
	font: bold 13px Arial, Helvetica, Verdana;
	margin: 5px 10px 10px 0;
	width: auto;
	color: #0d2746;
	border: none;
	cursor: pointer;
	background: #bebebe;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.yamlEdit {
	font-family: monospace;
}

.formBox {
	clear: both;
	margin: 10px 20px 10px 10px;
}

.formTitle {
	font-weight: bold;
	margin: 15px 5px 5px 5px;
}




/* --- Boxes / Lines -------------------------------------------------------------------------------- */


.greyLine {
	margin: 10px;
	border-bottom:1px solid #e8e8e8;
}

.greyFullLine {
	border-bottom:1px solid #e8e8e8;
}

.greyBox {
	position:relative;
	clear: both;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #d7d7d7;
	background: #e8e8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.whiteBox {
	position:relative;
	clear: both;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #d7d7d7;
	background: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.innerBox {
	clear: both;
	margin: 10px;
}

.leftBox {
	position: absolute;
}

.rightBox {
	position: absolute;
	right: 0;
	top: 7px;
	z-index: 100;
}

.deleteBox {
	position: absolute;
	top:15px;
	right:10px;
	z-index: 100;
}

.horizontalBox {
	clear: both;
	margin: 0 10px;
}

.verticalBox {
	clear: both;
	margin: 10px 0;
}

.halfBox {
	position: relative;
	float:left;
	margin: 0 1% 0 0;
	width: 49%;
}

.floatLeftBox {
	position: relative;
	float: left;
}

.floatLeftSpaceBox {
	position: relative;
	float: left;
	margin: 0 30px 0 0;
	text-align: center;
}

.floatRightSpaceBox {
	position: relative;
	float: right;
	margin: 0 0 0 30px;
	text-align: center;
}

.clearBox {
	position: relative;
	clear: both;
}

.floatMenu {
	position: relative;
	clear: both;
}

.floatMenu ul {
	margin: 0;
	padding: 0;
}
.floatMenu ul li{
	position: relative;
	float: left;
	margin: 0 10px 15px 0;
	padding: 0 !important;
}
.floatMenu li a{
	margin: 0;
}

.ulList {
	padding: 0 0 0 25px;
	list-style-type: disc;
}

.olList {
	padding: 0 0 0 25px;
	list-style-type: decimal;
}

.ulList li, .olList li {
	padding-left: 0 !important;
}

.listBox li{
	padding: 0 !important;
}

.errorMessage {
	position:relative;
	clear: both;
	margin: 10px 0;
	padding:10px;
	width: 47%;
	color: #c50707;
	border: 1px solid #e9c5c5;
	background: #f5e9e9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}





/* --- Buttons -------------------------------------------------------------------------------- */

.linkButtonYellow {
	position: relative;
	padding: 4px 10px;
	text-decoration: none;
	font-weight: bold;
	background: #ffd700;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.linkButtonSmallYellow {
	position: relative;
	padding: 1px 7px;
	text-decoration: none;
	font-weight: bold;
	background: #ffd700;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.linkButtonGrey {
	padding: 4px 10px;
	text-decoration: none;
	font-weight: bold;
	background: #bebebe;;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.linkButtonSmallGrey {
	position: relative;
	padding: 1px 7px;
	text-decoration: none;
	font-weight: bold;
	background: #bebebe;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.linkButtonRed {
	padding: 4px 10px;
	text-decoration: none;
	font-weight: bold;
	color:#ffffff;
	background: #c50707;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.linkButtonSmallRed {
	position: relative;
	padding: 1px 7px;
	text-decoration: none;
	font-weight: bold;
	color:#ffffff;
	background: #c50707;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}







/* --- ToggleBox -------------------------------------------------------------------------------- */

.toggleBox {
	position:relative;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #d7d7d7;
	background: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.toggleBox .toogleButton {
	height: 28px;
	cursor: pointer;
	font-weight: bold;
	background: #e8e8e8;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.toggleBox .toogleButton .toggleOpenIcon {
	float: left;
	margin: 4px 10px;
	width: 20px;
	font-size: 15px;
	text-align: center;
	background: #ffd700;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.toggleBox .toogleButton .toggleOpenContent {
	float: left;
	margin: 5px 0;
}

.toggleBox .toogleButton .toggleOpenInfo {
	float: right;
	margin: 5px 10px;
}

.toggleBox .toggleContent {
	position:relative;
	clear: both;
	margin: 10px;
	display: none;
}





/* --- TabBox -------------------------------------------------------------------------------- */

.tabBox {
	position:relative;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #d7d7d7;
	background: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.tabBox .tabNavi {
	height: 35px;
	font-weight: bold;
}

.tabBox .tabNavi ul {
	padding: 0;
	margin: 5px 0 0 5px;
}

.tabBox .tabNavi ul li {
	float: left;
	margin: 5px 5px;
	padding: 3px 10px !important;
	cursor: pointer;
	background: #ffd700;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.tabBox .tabNavi ul li.selected {
	background: #0d2746;
	color: #ffffff;
}

.tabBox .tabContent{
	display: none;
	margin: 10px;
}

.tabBox .tabContent.selected{
	display: block;
}


