

/* --- ToggleBox -------------------------------------------------------------------------------- */

.toggleBox {
	position:relative;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #d7d7d7;
	background: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.toggleBox .toogleButton {
	height: 28px;
	cursor: pointer;
	font-weight: bold;
	background: #e8e8e8;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.toggleBox .toogleButton .toggleOpenIcon {
	float: left;
	margin: 4px 10px;
	width: 20px;
	font-size: 15px;
	text-align: center;
	background: #ffd700;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.toggleBox .toogleButton .toggleOpenContent {
	float: left;
	margin: 5px 0;
}

.toggleBox .toggleContent {
	position:relative;
	clear: both;
	margin: 10px;
	display: none;
}






/* --- TabBox -------------------------------------------------------------------------------- */

.tabBox {
	position:relative;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #d7d7d7;
	background: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.tabBox .tabNavi {
	height: 32px;
	font-weight: bold;

}

.tabBox .tabNavi ul {
	padding: 0;
	margin: 5px 0 0 5px;
}

.tabBox .tabNavi ul li {
	float: left;
	margin: 5px 5px;
	padding: 3px 10px !important;
	cursor: pointer;
	background: #ffd700;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.tabBox .tabNavi ul li.selected {
	background: #0d2746;
	color: #ffffff;
}

.tabBox .tabContent{
	display: none;
	margin: 10px;
}

.tabBox .tabContent.selected{
	display: block;
}





/* --- Configuration -------------------------------------------------------------------------------- */

#moduleBox b {
	float:left;
}

#moduleBox span {
	float:left;
}

#moduleBox .detail {
	clear: both;
	position: relative;
}

#moduleBox .show {
	clear: both;
	position: relative;
}

#ctrlButtons {
	float: left;
	margin: 0 0 0 80px;
}

#ctrlButtons li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
}

#moduleBox #moduleHistoryItem{
	clear: both;
	position: relative;
	width: 920px;
	height: 22px;
	margin: 2px 0;
	padding: 7px 5px 3px;
	background: #f6f6f6;
}

#moduleBox #moduleItem{
	clear: both;
	position: relative;
	height: 22px;
	padding: 7px 0 3px;
}




table {border-collapse: collapse;margin: 10px;width:100%}

td, th { border: 1px solid #002f2f; font-size: 75%; vertical-align: baseline;padding:10px;}


/* foomo info */
#foomoInfo table, #foomoInfo td {
	border : 1px solid grey;
}
#foomoInfo table {
	width:100%;
}

.ok {
  color : green;
}
.nok {
  color : red;
}


.valid {
	color: green;
}
.invalid {
	color:red;
}