
/*
@font-face {
	font-family: 'MyriadWebPro';
	src: url(MyriadWebPro.ttf);
}


body {background-color: #fafafa; color: #002f2f;padding:10px;}

body, td, th {font-family: "Lucida Grande", Verdana, sans-serif;}

pre {margin: 0; font-family: monospace;}



a {
	text-decoration:none;
	color:#1111bb;
}
a:hover {
	color:red;
}

h1 {
	font-size: 150%;
	font-family: Helvetica, Verdana, sans-serif;
	font-weight: normal;
}
h2 {
	font-size: 125%;
	font-family: Helvetica, Verdana, sans-serif;
	font-weight: normal;
}
h3 {
	font-size: 100%;
	font-family: Helvetica, Verdana, sans-serif;
	font-weight: normal;
}
h4 {
	font-size: 100%;
	font-family: Helvetica, Verdana, sans-serif;
	font-weight: normal;
}
h5 {
	font-size: 100%;
	font-family: Helvetica, Verdana, sans-serif;
	font-weight: normal;
}
h6 {
	font-size: 100%;
	font-family: Helvetica, Verdana, sans-serif;
	font-weight: normal;
}



*/



table {border-collapse: collapse;margin: 10px;width:100%}

td, th { border: 1px solid #002f2f; font-size: 75%; vertical-align: baseline;padding:10px;}


/* foomo info */
#foomoInfo table, #foomoInfo td {
	border : 1px solid grey;
}
#foomoInfo table {
	width:100%;
}

.ok {
  color : green;
}
.nok {
  color : red;
}


.valid {
	color: green;
}
.invalid {
	color:red;
}